@import url("https://use.typekit.net/efa7ivj.css");

$sofiaPro: 'sofia-pro', sans-serif;
$PVCCBergundy: rgba(136, 35, 69, 1);

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

body {
    height: 100%;
    width: 500%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.intro-container {
    height: 100vh;
    width: 100vw;
    @include flex(column, center, center);
    background-color: $PVCCBergundy;
    font-family: $sofiaPro;
    color: #ddd;
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2rem;
    }
    span {
        font-size: 5rem;
    }
}

.horizontal-slide-container {
    @include flex(row, space-between, center);
    flex-wrap: nowrap;
    width: calc(100vw * 4);
    height: 100%;

    .horizontal-slide-panel {
        position: relative;
        width: 100vw;
        height: 100%;
        @include flex(row, space-between, center);

        #quote {
            position: relative;
            width: 100vw;
            height: 100%;
            @include flex(column, space-around, center);

            .sloan-quote-1 {
                align-self: flex-start;
                
                width: 75vw;

            }
        }
    }
}


#textGroup {
    transform: translateY(50%);

}